<%- include('./includes/head') %>

<div class="main">
    <section class="main-login-section">
        <div class="main-login-wrap">
            <%- include('loginForm') %>
        </div>
    </section>
</div>

<%- include('./includes/footer') %>