<h2>Register Form</h2>
<form 
    action="/singup" method="POST"
    enctype="x-www-form-urlencoded"
>
    <label for="main-login-input">Login</label>
    <input id="main-login-input" type="text" name="username" required />
    <label for="main-password-input">Password</label>
    <input id="main-password-input" type="password" name="password" required />
    <button type="submit">Register</button>
</form>