<div class="register-form-wrap">
    <h2>Register Form</h2>
    <form 
        action="/api/user/singup" method="POST"
        enctype="x-www-form-urlencoded"
    >
        <div class="register-form-item">
            <label for="main-login-input">Login</label>
            <input id="main-login-input" type="text" name="username" required />
        </div>
        <div class="register-form-item">
            <label for="main-password-input">Password</label>
            <input id="main-password-input" type="password" name="password" required />
        </div>
        <div class="register-from-btn-wrap">
            <button type="submit">Register</button>
        </div>
    </form>
</div>